h1 {
    text-align: center;
}

header {
    background-color: black;
    color: white;
}

header nav {
    margin: 5px;
}

.nav {
    background-color: gray;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

footer a {
    color: white;
}